<div class="card" style="width: 18rem;">
  <%= image_tag  "commandcar_sunset.jpg", class: "card-img-top" %>
  <div class="card-body">
    <h5 align= 'center' class="card-title">C43</h5>
    <p class="card-text">Conditions 43 is driven by the Lt's on duty. Their job is to patrol the area responding to MCI's, cardiac arrests, and other jobs that the units need help with.</p>
  </div>
</div>
